.services-section{
  background-color: $matestack-ligh-grey;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  img {
    width: 50px;
  }


  .service-card{
    font-size: 14px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.15);
    p {
      margin-bottom: 100px;
    }


    a {
      position: absolute;
      bottom: 20px;
      width: 90%;
      text-align: center;
      .btn-secondary{
        font-size: 14px;
      }
    }

  }
}
