@font-face {
   font-family: 'Geometrica';
   src: url('../fonts/geometrica/3AB51B_0_0.eot');
   src: url('../fonts/geometrica/3AB51B_0_0.eot?#iefix') format('embedded-opentype'),
   url('../fonts/geometrica/3AB51B_0_0.woff2') format('woff2'),
   url('../fonts/geometrica/3AB51B_0_0.woff') format('woff'),
   url('../fonts/geometrica/3AB51B_0_0.ttf') format('truetype'),
   url('../fonts/geometrica/3AB51B_0_0.svg#wf') format('svg');
 }

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,900&display=swap');
html, body {
 font-family: 'Nunito Sans';
 color: #606171;
}

h1, h2, h3, h4, h5 {
 font-family: 'Geometrica';
 color: #1B1D35;
}
