Hey!
<br>
Thanks for subscribing our newsletter! Please click the link below in order to confirm your subscription!
<br>
<br>
<a href="<%= @confirm_url %>">
  Click to confirm
</a>
<br>
<br>
If you want to cancel your subscription and delete all your data from our servers, just click the following link!
<br>
<br>
<a href="<%= @cancel_url %>">
  Click to cancel
</a>
<br>
<br>
Cheers!
